 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body {
     display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
      background: linear-gradient(45deg , #000b09 , #5a6061 );
      font-family: Arial, sans-serif;
     
    }

    .calculator {
      background: transparent;
      padding: 25px;
      border: 1 px solid rgb(255, 255, 255);
      border-radius: 10px;
      box-shadow: 0 4px 10px rgb(199, 196, 196);
    }

    #input-box {
      width: 320px;
      height: 50px;
      margin: 10px;
      font-size: 1.5rem;
      text-align: right;
      padding: 24px;
      border: none;
      border-radius: 5px;
      background:transparent;
      cursor: pointer;
    }
input::placeholder{
    color: white ;
}
    /* .buttons {
        display: flex;
        border: none;
        width: 60px;
        height: 60px;
        margin: 10px;
        border-radius: 50% ;
         /* display: grid;
      grid-template-columns: repeat(4, 70px);
      grid-gap: 10px; */
    /* } */ 

    button {
      border: none;
      width: 60px;
      height: 60px;
      margin: 10px;
      border-radius: 50%;
      background: transparent;
      font-size: 20px ;
      box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);       
      cursor: pointer;
      color: #fff;
      padding: 10px;
      margin: 10px;
      
    }

    button:hover {
      background: #666;
      transition: all 0.2s ease ;
    }

    .operator {
      background: #ff9500;
    }

    .operator:hover {
      background: #ffa733;
    }

    .equal {
      grid-column: span 2;
      background: #28a745;
    }

    .equal:hover {
      background: #45c76f;
    }