body {
  margin: 0;
  height: 100vh;
  background-image: url("123/flat-lay-stone-collection-copy-space.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.form-box {
  width: 400px;
  padding: 40px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  text-align: center;
}

.form-box h1 {
  margin-bottom: 30px;
  color: #3d251e;
  font-size: 2rem;
  letter-spacing: 1px;
  border-bottom: 2px solid #3d251e ;
  display: inline-block;
  padding-bottom: 5px;
}

.input-group {
  text-align: left;
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #cfcfcf;
}

.input-group input {
  width: 100%;
  padding: 10px 12px;
  border: none;
  border-radius: 10px;
  outline: none;
  background: rgba(255, 255, 255, 0.15);
  color: white;
  font-size: 1rem;
  backdrop-filter: blur(8px);
  transition: all 0.3s ease;
}

.input-group input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.input-group input:focus {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 8px #3d251e;
}

.btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: #3d251e;
  color:honeydew ;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn a{
    color: honeydew;
    transition: all 0.3s ;
}
.btn a:hover{
    background:burlywood;
    opacity: 1 ;
    width: 150px ;
    transform: scale(1.05 );
    border-radius: 5px;
}
.btn:hover {
  background-color: #3d251e;
  transform: scale(1.05);
}

.login-text {
  margin-top: 15px;
  color: #fff;
}

.login-text a {
  color: #3d251e;
  text-decoration: none;
}

.login-text a:hover {
  text-decoration: underline;
}
